{% extends 'dashboard.html' %}

{% block content %}
    <img class="img-fluid" id="image" src="" alt="">
{% endblock %} }}

{% block jscustom %}
    <script>
        let arrayImage = [];
        {%  for image in imageAll %}
            arrayImage.push({
                "id": {{ image.id }},
                "image": "/media/{{ image.image }}",
            })
        {% endfor %}
        console.log("arrayImage", arrayImage);

        function changeImage(image, src) {
            image.src = src;
        }

        let image = document.getElementById("image");
        for (let i = 0; i < arrayImage.length; i++) {
            // sau 2 giây thì thay đổi ảnh
            setTimeout(function () {
                changeImage(image, arrayImage[i].image);
                console.log("image", image);
                 if (i == arrayImage.length - 1) {
                i = 0;
            }
            }, 2000 * i);

        }
    </script>
{% endblock %}
